<h3 style="text-align:center">Remove Appointment successful</h3>
<hr class="hr hr-blurry" />
<br />
<br />
<div class="rmv-txt">
<h3>You removed the Appointment of Patient: @Model.PatientName</h3>
</div>
<div class="text-center" >
    <div class="rmv-btn">
        <a href="/Home/index" style="margin-top: 50px" class="btn btn-primary">Go Home</a>
    </div>
</div>