@* @{
    ViewData["Title"] = "Home Page";
}
 *@



<div class="text-center">
    <h1 class="display-4">Welcome to Our Hospital</h1>
    <p>Thank you for choosing our hospital for your healthcare needs.</p>
    <p>Here, we strive to provide the highest quality medical care to our patients.</p>
    <p> Learn more about our services and specialties:</p>

    <ul class="list-group">
        <li class="list-group-item"><a href="" class="list-group-anker">Internal Medicine</a></li>
        <li class="list-group-item"><a href="" class="list-group-anker">Pediatrics</a></li>
        <li class="list-group-item"><a href="" class="list-group-anker">Surgery</a></li>
    </ul>
    
    <p>If you need any further assistance or modifications, feel free to let me know!</p>
</div>


